In [0]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [0]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

In [0]:
data.describe()

# Предобработка

In [0]:
answers = {} # создадим словарь для ответов

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [0]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)' # +

In [10]:
import pandas as pd
df = pd.read_csv('C:\Games/movie_bd_v5.xls')
#группировка по названию фильма и его бюджету, фильтрация самого дорогого фильма
df.groupby(['original_title'])['budget'].max().sort_values(ascending = False)

original_title
Pirates of the Caribbean: On Stranger Tides    380000000
Pirates of the Caribbean: At World's End       300000000
Avengers: Age of Ultron                        280000000
Tangled                                        260000000
John Carter                                    260000000
                                                 ...
Paranormal Activity 3                            5000000
Oculus                                           5000000
Paranormal Activity 4                            5000000
Dallas Buyers Club                               5000000
Wonderland                                       5000000
Name: budget, Length: 1887, dtype: int64

# 2. Какой из фильмов самый длительный (в минутах)?

In [0]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [12]:
import pandas as pd
df = pd.read_csv('C:\Games/movie_bd_v5.xls')
#группировка по названию фильма и его продолжительности, фильтрация самого длинного фильма
df.groupby(['original_title'])['runtime'].max().sort_values(ascending = False)

original_title
Gods and Generals                                214
The Lord of the Rings: The Return of the King    201
Grindhouse                                       191
King Kong                                        187
Pearl Harbor                                     183
                                                ...
Home on the Range                                 76
Valiant                                           76
The Jungle Book 2                                 72
Return to Never Land                              72
Winnie the Pooh                                   63
Name: runtime, Length: 1887, dtype: int64

# 3. Какой из фильмов самый короткий (в минутах)?

In [0]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [14]:
import pandas as pd
df = pd.read_csv('C:\Games/movie_bd_v5.xls')
#группировка по названию фильма и его продолжительности, фильтрация самого короткого фильма
df.groupby(['original_title'])['runtime'].min().sort_values(ascending = True)

original_title
Winnie the Pooh                                   63
Return to Never Land                              72
The Jungle Book 2                                 72
Home on the Range                                 76
Valiant                                           76
                                                ...
Pearl Harbor                                     183
King Kong                                        187
Grindhouse                                       191
The Lord of the Rings: The Return of the King    201
Gods and Generals                                214
Name: runtime, Length: 1887, dtype: int64

# 4. Какова средняя длительность фильмов?

In [0]:
answers['4'] = '2. 110'

In [15]:
import pandas as pd
df = pd.read_csv('C:\Games/movie_bd_v5.xls')
#расчет средней продолжительности фильмов
df.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [0]:
answers['5'] = '1. 107'

In [16]:
import pandas as pd
df = pd.read_csv('C:\Games/movie_bd_v5.xls')
#расчет медианного значения продолжительности фильмов
df.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [0]:
answers['6'] = '5. Avatar (tt0499549)'

In [17]:
import pandas as pd
df = pd.read_csv('C:\Games/movie_bd_v5.xls')
#добавляем колонку с прибылью
df['profit'] = df['revenue'] - df['budget']
#группировка фильмов по убыванию полученной прибыли
df.groupby(['original_title'])['profit'].max().sort_values(ascending = False)

original_title
Avatar                          2544505847
Star Wars: The Force Awakens    1868178225
Jurassic World                  1363528810
Furious 7                       1316249360
The Avengers                    1299557910
                                   ...
Flushed Away                     -84540684
The Adventures of Pluto Nash     -92896027
Mars Needs Moms                 -111007242
The Alamo                       -119180039
The Lone Ranger                 -165710090
Name: profit, Length: 1887, dtype: int64

# 7. Какой фильм самый убыточный?

In [0]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

In [18]:
import pandas as pd
df = pd.read_csv('C:\Games/movie_bd_v5.xls')
df['profit'] = df['revenue'] - df['budget']
#группировка фильмов по убыванию убытков
df.groupby(['original_title'])['profit'].max().sort_values(ascending = True)

original_title
The Lone Ranger                 -165710090
The Alamo                       -119180039
Mars Needs Moms                 -111007242
The Adventures of Pluto Nash     -92896027
Flushed Away                     -84540684
                                   ...
The Avengers                    1299557910
Furious 7                       1316249360
Jurassic World                  1363528810
Star Wars: The Force Awakens    1868178225
Avatar                          2544505847
Name: profit, Length: 1887, dtype: int64

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [0]:
answers['8'] = '1. 1478'

In [20]:
import pandas as pd
df = pd.read_csv('C:\Games/movie_bd_v5.xls')
df['profit'] = df['revenue'] - df['budget']
df2 = df[df.profit > 0]
df2.profit.count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [0]:
answers['9'] = '4. The Dark Knight (tt0468569)'

In [22]:
import pandas as pd
df = pd.read_csv('C:\Games/movie_bd_v5.xls')
df['profit'] = df['revenue'] - df['budget']
#оставляем только 2008 год
df2 = df[df.release_year == 2008]
df2.groupby(['original_title'])['profit'].max().sort_values(ascending = False)

original_title
The Dark Knight                                       816921825
Indiana Jones and the Kingdom of the Crystal Skull    601636033
Mamma Mia!                                            557841637
Kung Fu Panda                                         501744560
Hancock                                               474029371
                                                        ...
Speed Racer                                           -26054234
The Express                                           -30206504
City of Ember                                         -37130952
Outlander                                             -42966317
Australia                                             -80445998
Name: profit, Length: 121, dtype: int64

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [0]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

In [25]:
import pandas as pd
df = pd.read_csv('C:\Games/movie_bd_v5.xls')
df['profit'] = df['revenue'] - df['budget']
#оставляем только 2012-2014 года в датафрейме
df2 = df[(df.release_year >= 2012) & (df.release_year <= 2014)]
df2.groupby(['original_title'])['profit'].max().sort_values(ascending = True)

original_title
The Lone Ranger                    -165710090
R.I.P.D.                            -68351500
Upside Down                         -51893525
Legends of Oz: Dorothy's Return     -51337973
Bullet to the Head                  -45510171
                                      ...
Despicable Me 2                     894761885
Skyfall                             908561013
Iron Man 3                         1015439994
Frozen                             1124219009
The Avengers                       1299557910
Name: profit, Length: 367, dtype: int64

# 11. Какого жанра фильмов больше всего?

In [0]:
answers['11'] = '3. Drama'

In [27]:
import pandas as pd
df = pd.read_csv('C:\Games/movie_bd_v5.xls')
#получаем все уникальные названия жанров
genre = set(df.genres.str.split('|').sum())
#получаем наиболее часто встречаемый жанр - нулевой индекс
pd.Series(df.genres.str.split('|').sum()).value_counts().index[0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [1]:
answers['12'] = '1. Drama'

'Drama'

In [28]:
import pandas as pd
df = pd.read_csv('C:\Games/movie_bd_v5.xls')
df['profit'] = df['revenue'] - df['budget']
df_prof = df[df['profit']>0]
pd.Series(df_prof.genres.str.split('|').sum()).value_counts().index[0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [ ]:
answers['13'] = '5. Peter Jackson'

In [30]:
import pandas as pd
df = pd.read_csv('C:\Games/movie_bd_v5.xls')
#получаем все уникальные имена режиссеров
directors = set(df.director.str.split('|').sum())
#если в режиссерах фильма есть имя режиссера - ссумируем выручку
pd.Series({x:df[df.director.str.contains(x)].revenue.sum() for x in directors}).sort_values(ascending = False).head()

Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [ ]:
answers['14'] = '3. Robert Rodriguez'

In [31]:
import pandas as pd
df = pd.read_csv('C:\Games/movie_bd_v5.xls')
directors = set(df.director.str.split('|').sum())
genre = set(df.genres.str.split('|').sum())
df2 = df[df.genres.str.contains('Action')]
pd.Series({x:df2[df2.director.str.contains(x)].revenue.count() for x in directors}).sort_values( ascending = False ).head()

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Ridley Scott          6
Antoine Fuqua         6
dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [ ]:
answers['15'] = '3. Chris Hemsworth'

In [33]:
import pandas as pd
df = pd.read_csv('C:\Games/movie_bd_v5.xls')
#получаем все уникальные имена актеров
actors = set(df.cast.str.split('|').sum())
#оставляем 2012
df2 = df[df['release_year'] == 2012]
#если в актерах, снимавшихся в фильме, есть имя актера - ссумируем выручку
pd.Series({x:df2[df2.cast.str.contains(x)].revenue.sum() for x in actors}).sort_values( ascending = False ).head()

Chris Hemsworth    2027450773
Denis Leary        1629460639
Anne Hathaway      1522851057
Chris Evans        1519557910
Mark Ruffalo       1519557910
dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [ ]:
answers['16'] = '3. Matt Damon'

In [34]:
import pandas as pd
df = pd.read_csv('C:\Games/movie_bd_v5.xls')
actors = set(df.cast.str.split('|').sum())
#оставляем фильмы с бюджетом выше среднего
df2 = df[df['budget'] > df['budget'].mean()]
pd.Series({x:df2[df2.cast.str.contains(x)].revenue.count() for x in actors}).sort_values( ascending = False ).head()

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Eddie Murphy         15
Samuel L. Jackson    15
dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [ ]:
answers['17'] = '2. Action'

In [30]:
import pandas as pd
df = pd.read_csv('C:\Games/movie_bd_v5.xls')
actors = set(df.cast.str.split('|').sum())
genre = set(df.genres.str.split('|').sum())
df2 = df[df.cast.str.contains('Nicolas Cage')]
#ссумируем выручку по жанру фильмов,в которых снимался этот актер
pd.Series({x:df2[df2.genres.str.contains(x)].revenue.count() for x in genre}).sort_values( ascending = False )

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Animation           3
Mystery             3
Family              3
History             2
Romance             1
Horror              1
War                 1
Documentary         0
Music               0
Foreign             0
Western             0
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [ ]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

In [35]:
import pandas as pd
df = pd.read_csv('C:\Games/movie_bd_v5.xls')
companies = set(df.production_companies.str.split('|').sum())
df['profit'] = ( df['revenue'] - df['budget'])
df2 = df[df.production_companies.str.contains('Paramount Pictures')]
df2.sort_values('profit', ascending = True).head()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034
1123,tt0300556,80000000,19480739,Timeline,Paul Walker|Frances O'Connor|Gerard Butler|Bil...,Richard Donner,They had to travel into the past to save the f...,A group of archaeological students become trap...,116,Action|Adventure|Science Fiction,Paramount Pictures|Donners' Company|Mutual Fil...,11/26/2003,5.1,2003,-60519261
1722,tt0435705,70000000,18211013,Next,Nicolas Cage|Julianne Moore|Jessica Biel|Thoma...,Lee Tamahori,"If you can see the future, you can save it.",Las Vegas showroom magician Cris Johnson has a...,96,Action|Science Fiction|Thriller,Paramount Pictures|Virtual Studios|Revolution ...,4/24/2007,5.9,2007,-51788987
1623,tt0375173,60000000,13395939,Alfie,Jude Law|Marisa Tomei|Omar Epps|Jane Krakowski...,Charles Shyer,Meet a man who never met a woman he didn't love.,"In Manhattan, the British limousine driver Alf...",103,Comedy,Paramount Pictures|Patalex Productions,10/22/2004,5.4,2004,-46604061
1631,tt0315297,50000000,25195000,Twisted,Ashley Judd|Samuel L. Jackson|Andy GarcÃ­a|Dav...,Philip Kaufman,Every murder has a mark.,Recently promoted and transferred to the homic...,97,Action|Adventure|Crime|Drama|Thriller,Paramount Pictures|Kopelson Entertainment|Harl...,2/27/2004,5.7,2004,-24805000

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [ ]:
answers['19'] = '5. 2015'

In [82]:
import pandas as pd
df = pd.read_csv('C:\Games/movie_bd_v5.xls')
pivot = df.pivot_table(index = 'release_year', values = 'revenue')
pivot.revenue.sort_values(ascending = False)

release_year
2015    2.156712e+08
2012    2.079189e+08
2014    1.934369e+08
2013    1.719541e+08
2010    1.672318e+08
2011    1.585790e+08
2009    1.546702e+08
2008    1.508494e+08
2003    1.494388e+08
2004    1.437012e+08
2007    1.397108e+08
2002    1.321155e+08
2005    1.265242e+08
2001    1.263861e+08
2000    1.184900e+08
2006    1.163389e+08
Name: revenue, dtype: float64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [ ]:
answers['20'] = '1. 2014'

In [99]:
import pandas as pd
df = pd.read_csv('C:\Games/movie_bd_v5.xls')
#для удобства переведем все в миллионы
df['profit'] = ( (df['revenue'] - df['budget'])/1000000)
df2 = df[df.production_companies.str.contains('Warner Bros')]
df2 = df2.groupby(['release_year'])['profit'].sum().sort_values(ascending = False)
df2

release_year
2014    2295.464519
2007    2201.675217
2008    2134.595031
2010    1974.712985
2011    1871.393682
2003    1855.493377
2009    1822.454136
2013    1636.453400
2004    1631.933725
2005    1551.980298
2001    1343.545668
2012    1258.020056
2002    1022.709901
2015     870.368348
2006     620.170743
2000     452.631386
Name: profit, dtype: float64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [ ]:
answers['21'] = '4. Сентябрь'

In [47]:
import pandas as pd
df = pd.read_csv('C:\Games/movie_bd_v5.xls')
#добавляем функцию, которая оставляем значения слева, до знака / , в дате выхода фильма
def months(x):
    if '/' in x:
        n = x.index('/')
        return x[:n]
df['release_month'] = df.release_date.apply(months)
#делаем сводную по месяцам и количеству фильмов
pivot = df.pivot_table(index = 'release_month', values = 'revenue', aggfunc='count')
pivot.revenue.sort_values(ascending = False)

release_month
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: revenue, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [ ]:
answers['22'] = '2. 450'

In [69]:
import pandas as pd
df = pd.read_csv('C:\Games/movie_bd_v5.xls')
def months(x):
    if '/' in x:
        n = x.index('/')
        return x[:n]
df['release_month'] = df.release_date.apply(months)
#переводим месяц в формат значения, чтобы потом без проблем отфильтровать его
df['release_month'] = pd.to_numeric(df['release_month'])
df2 = df.query('6 <= release_month <= 8')
pivot = df2.pivot_table(index = 'release_month', values = 'revenue', aggfunc='count')
pivot.revenue.sum()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [ ]:
answers['23'] = '5. Peter Jackson'

In [36]:
import pandas as pd
df = pd.read_csv('C:\Games/movie_bd_v5.xls')
def months(x):
    if '/' in x:
        n = x.index('/')
        return x[:n]
df['release_month'] = df.release_date.apply(months)
df['release_month'] = pd.to_numeric(df['release_month'])
directors = set(df.director.str.split('|').sum())
#оставляем зимние месяцы
df2 = df.query('release_month <= 2 or release_month == 12')
pd.Series({x:df2[df2.director.str.contains(x)].revenue.count() for x in directors}).sort_values( ascending = False ).head()

Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Nancy Meyers         4
Adam Shankman        4
dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [ ]:
answers['24'] = '5. Four By Two Productions'

In [38]:
import pandas as pd
df = pd.read_csv('C:\Games/movie_bd_v5.xls')
studios = set(df.production_companies.str.split('|').sum())
#функция для расчета количества символов
def leng(s):
    n = s.split()
    return len(s)
df['length'] = df.original_title.apply(leng)
pd.Series({x:df[df.production_companies.str.contains(x)].length.mean() for x in studios}).sort_values( ascending = False )

Four By Two Productions                        83.0
Jim Henson Company, The                        59.0
Dos Corazones                                  47.0
Polsky Films                                   46.0
Museum Canada Productions                      46.0
                                               ...
Canal+Polska                                    NaN
Parkway Pictures (I)                            NaN
Baumgarten Management and Productions (BMP)     NaN
TelevisiÃ³ de Catalunya (TV3)                   NaN
Picture Perfect (I)                             NaN
Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [ ]:
answers['25'] = '3. Midnight Picture Show'

In [162]:
import pandas as pd
df = pd.read_csv('C:\Games/movie_bd_v5.xls')
studios = set(df.production_companies.str.split('|').sum())
#функция для расчета количества слов
def length(s):
    n = s.split()
    return len(n)
df['length_descirption'] = df.overview.apply(length)
pd.Series({x:df[df.production_companies.str.contains(x)].length_descirption.mean() for x in studios}).sort_values( ascending = False )

Midnight Picture Show                                                  175.0
Room 9 Entertainment                                                   161.0
Heineken Branded Entertainment                                         159.0
98 MPH Productions                                                     159.0
Brookwell-McNamara Entertainment                                       156.0
                                                                       ...
Edmonds Entertainment Group (EEG)                                        NaN
Instituto de la CinematografÃ­a y de las Artes Audiovisuales (ICAA)      NaN
Canal+Polska                                                             NaN
China Film Group Corporation (CFGC)                                      NaN
Disney Double Dare You (DDY)                                             NaN
Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [ ]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

In [150]:
import pandas as pd
df = pd.read_csv('C:\Games/movie_bd_v5.xls')
#применяем перцентиль
df[df.vote_average > df.vote_average.quantile(0.99)]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,7.9,2014
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,7.9,2014
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,7.9,2014
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,7.9,2010
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,7.9,2002
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,7.9,2013
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,7.9,2013
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,7.9,2000

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [ ]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

In [39]:
import pandas as pd
import itertools as it
df = pd.read_csv('C:\Games/movie_bd_v5.xls')
df['cast'] = df.cast.str.split('|')
df.cast = df.cast.apply(lambda x:list(it.combinations(x,2)))
df.explode('cast').cast.mode()

0     (Daniel Radcliffe, Emma Watson)
1    (Daniel Radcliffe, Rupert Grint)
dtype: object

# Submission

In [40]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

NameError: name 'answers' is not defined

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)